<h3 style="text-align:center">Hello Admin! What you want?</h3>
<ul>
    <li><a asp-action="Users">Controls Users</a></li>
    <li><a asp-action="Products">Controls Products</a></li>
    <li><a asp-action="Categories">Controls Categories</a></li>
    <li><a asp-action="Orders">Controls Orders</a></li>
</ul>
