@{
    ViewData["Title"] = "Orders";
}
<link rel="stylesheet" href="~/css/orders.css" asp-append-version="true">
<h1>My Orders</h1>
<hr />
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>OrderDate</th>
            <th>TotalSum</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script src="../js/orders.js"></script>